apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  labels:
    app: django
spec:
  replicas: 3
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
        - image: vlasis/django:latest
          name: django
          ports:
            - containerPort: 8000
              name: gunicorn
          volumeMounts:
            - name: django-storage
              mountPath: /app/static
      volumes:
        - name: django-storage
          persistentVolumeClaim:
            claimName: django-pvc  
